table.memberdecls
{
    border-spacing: 0px;
    padding: 0px;
}

.icon 
{
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 14px;
    height: 16px;
    width: 16px;
    display: inline-block;
    background-color: #337ab7;
    color: white;
    text-align: center;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    line-height: 1.1;
}

.icona 
{
    width: 24px;
    height: 22px;
    display: inline-block !important;
}

/* makes the cursor a pointer for drop-down arrow */
.arrow
{
	cursor: pointer;
}


.mdescLeft, 
.mdescRight,
.memItemLeft, 
.memItemRight,
.memTemplItemLeft, 
.memTemplItemRight, 
.memTemplParams 
{
    background-color: #F9FAFC !important;
    border: none;
    margin: 4px;
    padding: 1px 0 0 8px;
	text-align: left !important;
}

.mdescLeft, .mdescRight 
{
    padding: 0px 8px 4px 8px !important;
	border: 0px !important;
    color: #555;
}

.memSeparator 
{
    border-bottom: 2px solid #DEE4F0;
	border-top: 0px !important;
    line-height: 1px !important;
    margin: 0px;
    padding: 0px !important;
}
/*
.memTemplParams 
{
	display: none; //rlly do this? just useful sometimes
}

.memItemLeft, .memTemplItemLeft {
    white-space: nowrap !important;
}

.memTemplItemLeft
{
	display: inline !important;
}
*/
